:root {
    --open-sans: "Open Sans", sans-serif;
    --nunito-sans: "Nunito Sans", sans-serif;

    --ligh-accent-color: #FBB731;
    --dark-accent-color: #F37335;
    --dark-color: #443737;
    --light-color: #FFFFFF;
}

body {
    font-family: var(--open-sans);
}
a{
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
    border: 1px solid red;
    padding-left: 15px;
    padding-right: 15px;
}

/*header*/
.header {
    display: flex;
    align-items: center;
    gap: 196px;
    padding: 26px 0;
}

.logo {
    display: block;
    width: 176px;
    height: 56px;
    background-image: url("../assets/icons/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    flex-grow: 1;
    display: flex;
    gap: 46px;
}

.nav-link {
    color: var(--dark-color);
    font-weight: 600;
    font-size: 20px;
}
.nav-link::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: transparent;
    border-radius: 1.5px;
}
.nav-link:hover::after{
    background-color: var(--ligh-accent-color);
}
.cart{
    position: relative;
    display: flex;
    align-items: center;
    gap:10px;
    color: var(--dark-color);
    font-weight: 700;
    font-size: 15px;
}
.cart::before{
    content: "";
    display: block;
    width: 30px;
    height: 26px;
    background-image: url("../assets/icons/shopping-cart.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.cart-count{
    position: absolute;
    bottom: 0;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    color: var(--light-color);
    background-color: var(--dark-accent-color);
    border-radius: 100%;
    font-size: 10px;
}
/*hero*/
.hero{
    background-image: url("../assets/images/hero-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 142px;
    padding-bottom: 142px;
}
.breadcrumbs{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
    font-size: 15px;
    padding-left: 0;
    color: rgba(255,255,255,.5);
}
.breadcrumbs-item{
    position: relative;
}
.breadcrumbs-item:not(:last-child)::after{
    content: '/';
    position: absolute;
    right: -12px;
}
.breadcrumbs-link{
    color: rgba(255,255,255,.5);

}
.breadcrumbs-link:hover{
    color:var(--ligh-accent-color)
}
.hero-title{
    font-size:79px;
    color:var(--light-color);
    font-family: var(--nunito-sans);
    font-weight: 700;
    text-transform: capitalize;
}
.hero-desc{
    max-width: 320px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 400;
    color:rgba(255,255,255, 0.8);
    line-height: 160%;
}