:root {
    --open-sans: "Open Sans", sans-serif;
    --nunito-sans: "Nunito Sans", sans-serif;

    --ligh-accent-color: #FBB731;
    --dark-accent-color: #F37335;
    --dark-color: #443737;
    --light-color: #FFFFFF;
}

body {
    font-family: var(--open-sans);
}
a{
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
    border: 1px solid red;
}

/*header*/
.header{
    border-bottom: 1px solid #DEDEDE;
}
.header .container{
    padding-left: 15px;
    padding-right: 15px;
}
.header-wrapper {
    display: flex;
    align-items: center;
    gap: 181px;
    padding: 28px 0;
}

.logo {
    display: block;
    width: 172px;
    height: 55px;
    background-image: url("../assets/icons/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    flex-grow: 1;
    display: flex;
    gap: 38px;
}

.nav-link {
    color: var(--dark-color);
    font-weight: 600;
    font-size: 20px;
}
.nav-link::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: transparent;
    border-radius: 1.5px;
}
.nav-link:hover::after{
    background-color: var(--ligh-accent-color);
}
.cart{
    position: relative;
    display: flex;
    align-items: center;
    gap:10px;
    color: var(--dark-color);
    font-weight: 700;
    font-size: 15px;
}
.cart::before{
    content: "";
    display: block;
    width: 30px;
    height: 26px;
    background-image: url("../assets/icons/shopping-cart.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.cart-count{
    position: absolute;
    bottom: 0;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    color: var(--light-color);
    background-color: var(--dark-accent-color);
    border-radius: 100%;
    font-size: 10px;
}
/*hero*/
.hero{
    background-image: url("../assets/images/hero-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 142px;
    padding-bottom: 142px;
}
.breadcrumbs{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
    font-size: 15px;
    padding-left: 0;
    color: rgba(255,255,255,.5);
}
.breadcrumbs-item{
    position: relative;
}
.breadcrumbs-item:not(:last-child)::after{
    content: '/';
    position: absolute;
    right: -12px;
}
.breadcrumbs-link{
    color: rgba(255,255,255,.5);

}
.breadcrumbs-link:hover{
    color:var(--ligh-accent-color)
}
.hero-title{
    font-size:79px;
    color:var(--light-color);
    font-family: var(--nunito-sans);
    font-weight: 700;
    text-transform: capitalize;
}
.hero-desc{
    max-width: 320px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 400;
    color:rgba(255,255,255, 0.8);
    line-height: 160%;
}
/*banner*/
.banner{
    padding-top: 140px;
}
.banner-wrapper{
    padding: 100px;
    background-image: url("../assets/images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:var(--light-color);
}
.banner-title{
    font-family: var(--nunito-sans);
    font-size: 60px;
    font-weight: 900;
    line-height: 126%;
}
.banner-title span{
    max-width: 95px;
    font-family: var(--open-sans);
    font-size: 14px;
    font-weight: 600;
    line-height: 128%;
    display: block;
    padding: 5px 0;
    text-align: center;
    background-color: var(--dark-accent-color);
    border-radius: 14px;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.banner-desc{
    font-size: 15px;
    color:rgba(255,255,255,.8);
    margin-bottom: 15px;
    max-width: 353px;
}
.banner-btn{
    display: block;
    cursor: pointer;
    background-color: var(--ligh-accent-color);
    border-radius: 5px;
    color:var(--dark-color);
    font-family: var(--nunito-sans);
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    padding: 20px 25px;
    border:none;
    text-transform: uppercase;
}
.banner-btn:hover{
    background-color: #fb8c31;
    color:var(--light-color);
}
/*menu*/
.main{
    padding-top: 100px;
}
.menu{
    padding-top: 34px;
    font-family: var(--nunito-sans);
}
.menu-additional{
    padding-top: 100px;
    font-family: var(--nunito-sans);
    padding-bottom: 140px;
}
.menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-title{
    font-size:44px;
    font-family: var(--nunito-sans);
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 34px;
}
.menu-select{
    color:var(--dark-color);
    appearance: none;
    flex-basis: 279px;
    font-size: 15px;
    font-family: var(--open-sans);
    border-radius: 22px;
    background-image: url("../assets/icons/chevron-down.svg");
    background-size: 14px 10px;
    background-repeat: no-repeat;
    background-position: 89% center;
    padding: 13px 30px;
    border:1px solid #DEDEDE;
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 20px 20px;
}
.menu-card{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}
.menu-card-thumb{
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.menu-card-thumb img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    object-fit: contain;
}
.menu-card-title{
    font-size: 30px;
    line-height: 38px;
    font-weight: 600;
    color:var(--dark-color);
    padding-bottom: 5px;
}
.menu-card-price{
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color:rgba(68,55,55,.5);
}
.menu-card-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:5px;
    padding: 10px 30px;
    background-color: var(--ligh-accent-color);
    color:var(--dark-color);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    max-width: 152px;
    border:none;
}
.btn-cart{

}